@import url('https://fonts.googleapis.com/css?family=Audiowide');

* {
  box-sizing: border-box;
  }

body {
  background-image: url('https://source.unsplash.com/1024x768/?birthday');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Audiowide", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: '\A';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 50px;
  margin: -80px 0 30px;
}

span {
  font-size: 60px;
  margin: -40px 0 40px;
}

.dateyear {
  font-size: 200px;
  color: #FBF7F4;
  z-index: -1;
  opacity: 80;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.yearold {
  font-size: 80px;
  color: #6C9A8B;
  z-index: -1;
  opacity: 80;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.message {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.countdown {
  display: flex;
  transform: scale(2);
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.clock h2 {
  margin: 0 0 5px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    color: black;
  }
  .dateyear .message .yearold {
    font-size: 30px;
  }

  .clock {
    margin: 5px;
  }

  .clock h2 {
    font-size: 22px;
    margin: 0;
  }

  .clock small {
    font-size: 20px;
  }
}